# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# IPython history
.history
.ipython/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter runtime files
~/.local/share/jupyter/runtime/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# Unit test / coverage reports
.tox/
.nox/
test-output/

# PyInstaller
*.manifest
*.spec

# Build and distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VSCode config
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Jupyter Notebook hidden metadata
*.nbconvert.ipynb

#Temporary files
*.tmp
~$*